Source: wazo-python-pystun3-packaging
Section: python
Priority: optional
Maintainer: Wazo Maintainers <dev+pkg@wazo.community>
Build-Depends: debhelper (>= 12),
               dh-python,
               python3-all,
               python3-setuptools
Standards-Version: 3.9.6
X-Python3-Version: >= 3.7
Homepage: https://github.com/talkiq/pystun3

Package: python3-pystun3
Architecture: all
Depends: ${misc:Depends},
         ${python3:Depends}
Description: Python STUN client
 Python STUN client for getting NAT type and external IP
 .
